footer {
    height: 35px;
    width: 100%;
    p, a{
        color: $medLightColour;
        margin: 1rem;
        a:hover {
            color: $lightColour;
            text-decoration: underline;
        }
    }

}