html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: $fontSize;
    font-family: $font;
    color: $lightColour;
    text-shadow: 2px 1.5px 2px black;
    overflow-x: hidden;
    background: $darkColour;
    line-height: 1.6;
}

.wrapper {
    margin: auto;
    margin-bottom: -5px;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-size: calc(.2vw + 3rem);
    padding: 10px;

}

a {
    color: $lightColour;
    text-decoration: none;
}

.shadow {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}