html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: calc(.2vw + 1.8rem);
    font-family: 'Philosopher', sans-serif;
    color: white;
    text-shadow: 2px 1.5px 2px black;
    overflow-x: hidden;
    background: #00021f;
    line-height: 1.6;
}

.wrapper {
    margin: auto;
    margin-bottom: -25px;
    min-height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.shadow {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}