// Colour scheme
$darkColour: #00021f;
$buttonColour: #002383;
$medDarkColour: #0360b8;
$medLightColour: #8092c6;
$lightColour: ghostwhite;

//font related
$font: 'Merriweather', serif;
$fontSize: calc(.2vw + 1.8rem);

