// Colour scheme
$darkColour: #00021f;
$medDarkColour: rgba(0, 132, 255, 0.85);
$medLightColour: #8092c6;
$lightColour: ghostwhite;

//font related
$font: 'Philosopher', sans-serif;
$fontSize: calc(.2vw + 1.8rem);